body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single-message {
  background: #579ffb;
  color: #fafafa;
  margin: 15px;
  max-width: 50%;
  padding: 15px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
}


#textarea{
  height: 200px;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

header{
  background: #579ffb;
  padding: 60px;
  text-align: center;
  color:#fafafa;
}

header > nav{
  display: flex;
  list-style: none;
  float: right;
}
.form-inline{
  margin: auto;
  margin-top: 20px;
  display: block;
  background: #f2f2f2;;
  border: 1px solid #ccc;
  width: 50%;
  border-radius: 4px;
  padding: 2%;
}

.chat{
  display: block;
  margin-left: auto;
  margin-right: auto;
}